<tr>
  <td class="shipping-postal-code" colspan="3">
    <%= form.text_field :postal_code, placeholder: t('bodega.postal_code') %>
    <% if current_order.postal_code.present? -%>
    <%= form.select :shipping_rate_code, current_order.shipping_rate_options %>
    <% end -%>
  </td>
  <td class="shipping-total" colspan="2">
    <%= humanized_money_with_symbol current_order.shipping %>
  </td>
</tr>
